@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root {
    --main-bg-color: #efefef;
    --main-color: #ff455a;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Raleway', sans-serif;
    background-color: var(--main-bg-color);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    cursor: url('http://www.rw-designer.com/cursor-view/106419-48.png'), auto;
}

.MuiMobileStepper-dotActive {
    background-color: black;
  }
  
.home-bg {
    background-image: url('../public/images/stars-background.jpg');
}

.project-bg {
    background-image: url('../public/images/stars-background2.jpg');
}

.home-button {
    background: linear-gradient(
        180deg,
        #8dfffc 34.9%,
        rgba(0, 255, 248, 0.209202) 86.46%,
        rgba(146, 255, 252, 0.408177) 99.97%,
        rgba(180, 255, 253, 0.0206269) 99.98%,
        rgba(102, 251, 247, 0.0104167) 99.99%,
        rgba(0, 155, 151, 0) 100%
    );
    border-radius: 30px;
}
